parameters:
  elepay.name: QRコード決済
  elepay.payment_methods_info_url: https://resource.elecdn.com/payment-methods/info.json
  elepay.admin_host: https://dashboard.elepay.io
  # elepay.admin_host: https://stg-dashboard.elepay.io
  elepay.api_host: https://api.elepay.io
  # elepay.api_host: https://stg-api.elepay.io
  elepay.sdk_host: https://sdk.elepay.io
  # elepay.sdk_host: https://stg-sdk.elepay.io
  elepay.js_sdk: https://js.elepay.io/v1/elepay.js

monolog:
  channels: ['elepay']
  handlers:
    elepay:
      type: fingers_crossed
      action_level: error
      passthru_level: info
      handler: elepay_rotating_file
      channels: ['elepay']
      channels: ['!event', '!doctrine']
    elepay_rotating_file:
      type: rotating_file
      max_files: 60
      path: '%kernel.logs_dir%/%kernel.environment%/elepay.log'
      formatter: eccube.log.formatter.line
      level: debug
